appnope==0.1.0
arrow==0.12.1
asn1crypto==0.24.0
attrs==17.4.0
Authomatic==0.1.0.post1
Automat==0.6.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
bcdoc==0.12.0
beautifulsoup4==4.6.0
binaryornot==0.4.4
bleach==2.1.3
boto==2.34.0
boto3==1.7.1
botocore==1.10.6
browsercookie==0.7.2
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
clan==0.1.3
click==6.7
colorama==0.3.9
configparser==3.5.0
constantly==15.1.0
cookiecutter==1.6.0
cookiejar==0.0.1
copytext==0.1.9
cryptography==2.2.2
cssselect==1.0.3
data==0.4
decorator==4.2.1
docopt==0.6.2
docutils==0.11
ecdsa==0.13
entrypoints==0.2.3
enum34==1.1.6
Fabric==1.12.0
Flask==0.9
Flask-WTF==0.14.2
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
google-api-python-client==1.2
gunicorn==19.1.1
hn==0.2.2
howdoi==1.1.13
html5lib==1.0.1
httplib2==0.19.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipaddress==1.0.22
ipykernel==4.8.2
ipython==5.6.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
iso-639==0.4.5
iso3166==0.8
itsdangerous==0.24
jdcal==1.4
Jinja2==2.7.3
jinja2-time==0.2.0
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
jupyterlab==0.32.0
jupyterlab-discovery==5.0.2
jupyterlab-github==0.5.0
jupyterlab-launcher==0.10.5
keyring==12.1.0
latex==0.7.0
lxml==4.1.1
MarkupSafe==0.23
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
nose==1.2.1
notebook==5.4.1
numpy==1.14.2
odict==1.5.1
openpyxl==2.2.0
pager==3.3
pandas==0.22.0
pandocfilters==1.4.2
paramiko==1.18.5
parsel==1.4.0
pathlib2==2.3.0
pbr==4.0.2
pexpect==4.4.0
pickleshare==0.7.4
pipreqs==0.4.9
ply==3.4
poyo==0.4.1
prompt-toolkit==1.0.15
psutil==5.4.3
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6
pycryptodome==3.5.1
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==17.5.0
pyquery==1.4.0
PySocks==1.6.8
pyte==0.7.0
python-dateutil==2.2
pytz==2018.4
PyYAML==3.11
pyzmq==17.0.0
queuelib==1.5.0
requests==2.18.4
requests-cache==0.4.13
s3transfer==0.1.13
scandir==1.7
Scrapy==1.5.0
selenium==3.11.0
Send2Trash==1.5.0
service-identity==17.0.0
shutilwhich==1.1.0
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.11.0
slimit==0.7.4
smartypants==1.8.6
ssh==1.7.14
stevedore==1.28.0
streamlink==0.11.0
subprocess32==3.2.7
tempdir==0.7.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tex==1.8
thefuck==3.25
tornado==5.0.1
traitlets==4.3.2
Twisted==17.9.0
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.47.0
Werkzeug==0.8.3
whichcraft==0.4.1
widgetsnbextension==3.2.1
WTForms==2.1
yarg==0.1.9
yasm==0.0
youtube-dl==2018.4.3
zope.interface==4.5.0
